.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  max-height: 20%;
}

.head-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-bottom: 80px;
  width: 100%;
  height: 40px;
  overflow: auto;
  white-space: nowrap;
  li {
    margin: 0px 10px 0px 10px;
    min-width: 200px;
  }
  &::-webkit-scrollbar {
    height: auto;
    height: 5px;
    border-radius: 10px;

    // background-color: saddlebrown;
  }
  &::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
    width: 50%;
  }
}

input[type="text"] {
  height: 15px;
}

input[type="date"] {
  height: 15px;
}

.players-list {
  list-style: none;
}

.player-card {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 234, 188);
  img {
    margin: 20px 10% 20px 10%;
    max-width: 80%;
    max-height: 60%;
  }
  h3,
  h5 {
    margin-left: 10%;
  }

  h5 {
    font-size: 15px;
  }
}

body {
  background-color: rgb(240, 234, 188);
}

.color-stripes {
  display: flex;
  flex-direction: row;
  width: 10%;
  padding: 0;

  div {
    width: 50%;
    height: 100%;
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 470px;
  justify-content: space-between;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  width: 90%;
  left: 0px;
  border-radius: 5%;
  border: rgba(248, 246, 246, 0) solid;

  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.team-logo {
  width: 40%;
  img {
    max-width: 80%;
    padding: 30px;
    max-height: 50%;
  }
}

.edit-form {
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  color: black;
  align-items: flex-end;
  &.active {
    font-size: 20px;
    font-weight: bold;
  }
}

.edit-option {
  text-decoration: none;
  color: black;
  &.active {
    color: red;
    align-self: center;
  }
}

.alert {
  color: red;
}

.modal-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(59, 25, 25, 0.384);
  top: 0px;
  left: 0px;
}

.modal-box {
  margin: 25% 25% 25% 25%;
  padding: 20px;
  background-color: rgb(240, 234, 188);
  max-width: 50%;
  min-height: 20%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.edit-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-height: 30%;
}
.form-fields {
  // overflow-y: scroll;
  // max-height: 500px;
  width: 40%;
  // &::-webkit-scrollbar {
  //   border-radius: 10px;
  //   width: 5px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: #000;
  //   border-radius: 10px;
  // }
}
.main-role-list {
  display: flex;
  flex-direction: row;
}

//-------------

@media only screen and (max-width: 600px) {
  .edit-form {
    flex-direction: column;
    align-items: center;
  }
  .edit-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .form-fields {
    max-height: 180px;
    width: 85%;
  }
  .container {
    max-height: 330px;
  }
  .list-players {
    overflow-y: scroll;
    max-height: 220px;
  }
  .modal-overlay {
    position: fixed;
  }
  .team-name {
    margin-left: 20px;
  }
  .input-and-label {
    display: flex;
    justify-content: space-between;
  }
  label {
    margin-right: 10px;
    text-align: right;
  }
  .role-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .role-item {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  .main-role-list {
    flex-direction: column;
  }
}
